.body-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.product-container{
    margin-left: 100px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.cart-container{
    margin-left: 20px;
    background-color: bisque;
    text-align: center;
}
